*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;

}
.products__proa {
	background: url(assets/footer.jpg) no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 80vh;
	display: flex;
	z-index: -5;
}
.products__proa:after {
	content: "";
	width: 100%;
	height: 80vh;
	position: absolute;
	background-color: #69B284;
	opacity: 0.9;
	z-index: -2;
}
.block__Last {
	display: block;
}
.block__awareness {
	display: block;
    width: 70vw;
    height: 25vh;
    z-index: 8;
}
.awareness__title {
	width: 45vw ;
	color: white;
	font-size: 30px;
	font-family: arial;
	font-weight: bolder;
	padding: 50px 0 0 48px;
	text-align: left;
}
.awareness__text {
	width: 37vw;
	color: white;
	font-size: 17px;
	font-family: arial;
	text-align: left;
	padding: 30px 0 0 48px;
}
.block__contact {
	display: block;
	width: 50vw;
	height: 50vh;
	z-index: 8;
}
.contact__title {
	color: white;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder;
    padding: 133px 0 0 48px;
}
.contact__text {
	width: 23vw;
    color: white;
    font-size: 20px;
    font-family: arial;
    text-align: left;
    padding: 10px 0 0 48px;
}
.contact__paragraph {
	margin-top: 60px;
    color: white;
    font-size: 20px;
    font-family: arial;
    text-align: left;
    padding: 0px 48px;
}
.block__image {
	position: relative;
	z-index: 8;
}
.imgCris {
	position: absolute;
	height: 80vh;
	margin-left: -400px;
}
.block__informative {
	z-index: 8;
	display: block;
}
.informative__title {
	color: white;
    font-size: 23px;
    font-family: arial;
    text-align: left;
    font-weight: bolder;
    padding: 400px 0 0 0;
}
.informative__text {
    color: white;
    font-size: 17px;
    font-family: arial;
    padding: 10px 0 0 0;
}

